.fc .fc-toolbar-title {
    font-weight: 600;
    font-size: 20px !important;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: var(--black-1);
}

.fc .fc-toolbar-chunk:nth-child(2) {
    display: none;
}

.fc .fc-today-button {
    display: none !important;
    margin: 0 !important;
}

.fc .fc-button-primary {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.fc .fc-toolbar-chunk:first-child {
    margin-right: 16px !important;
}

.fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
    margin-left: 0 !important;
    display: flex !important;
}

.fc .fc-toolbar {
    justify-content: unset !important;
}

.fc-icon {
    color: var(--black-2) !important;
}

.fc .fc-button {
    box-shadow: unset !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px !important;
}

.fc-view-harness {
    background-color: var(--white-0);
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-width: 0.5px !important;
    border-color: var(--black-6) !important;
}

.fc .fc-daygrid-day-top {
    flex-direction: row !important;

}

.fc .fc-daygrid-day-number {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--black-1);
    padding: 0 !important;
}

.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1 !important;
}

.fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
    color: var(--black-4) !important;
}

.fc .fc-col-header-cell-cushion {
    padding: 0 !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--black-2);
    text-transform: uppercase !important;

}

.fc-scrollgrid-sync-inner {
    text-align: left !important;
    padding: 12px !important;
}

.fc-theme-standard.fc-scrollgrid {
    border: none !important;
}

.full-calendar {
    position: relative;
}

.full-calendar-select {
    position: absolute;
    right: 0;
    top: 0;
}

.full-calendar-select {
    width: 100px;
}

.full-calendar-select .ant-select-selection--single .ant-select-selection__rendered {
    height: 36px;
}

.full-calendar-select .ant-select-selection {
    background-color: transparent;
}

.fc-toolbar-chunk:last-child {
    position: absolute;
    left: 200px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 30px;
}
.full-calendar-select .ant-select-selection--single .ant-select-selection__rendered {
    padding-right: 30px;
}